<div class="widget-box todo-widget" data-type="todo">
  <div class="widget-toolbar">
    <button class="edit-widget-btn">⋮</button>
    <div class="widget-menu">
      <button class="delete-widget">🗑 Delete</button>
      <button class="resize-widget">📏 Resize</button>
      <button class="change-widget">🔁 Change</button>
    </div>
  </div>
  <i class="bi bi-check2-square widget-icon"></i>
  <div class="widget-title">ToDo</div>

  <div class="todo-list">
    <input type="text" class="todo-input" placeholder="タスクを入力してEnter">
    <ul class="todo-items"></ul>
  </div>
</div>
